[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = git@github.com:ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI-SaveAsScript"]
	path = custom_nodes/ComfyUI-SaveAsScript
	url = git@github.com:atmaranto/ComfyUI-SaveAsScript
[submodule "custom_nodes/ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus
[submodule "custom_nodes/ComfyUI-WD14-Tagger"]
	path = custom_nodes/ComfyUI-WD14-Tagger
	url = https://github.com/pythongosssss/ComfyUI-WD14-Tagger
[submodule "custom_nodes/comfyui_segment_anything"]
	path = custom_nodes/comfyui_segment_anything
	url = https://github.com/storyicon/comfyui_segment_anything
[submodule "custom_nodes/ComfyUI-Custom-Scripts"]
	path = custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack
[submodule "custom_nodes/comfyui-various"]
	path = custom_nodes/comfyui-various
	url = https://github.com/jamesWalker55/comfyui-various
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui
[submodule "custom_nodes/comfy_mtb"]
	path = custom_nodes/comfy_mtb
	url = https://github.com/melMass/comfy_mtb
[submodule "custom_nodes/wlsh_nodes"]
	path = custom_nodes/wlsh_nodes
	url = https://github.com/wallish77/wlsh_nodes
[submodule "custom_nodes/Comfy_KepListStuff"]
	path = custom_nodes/Comfy_KepListStuff
	url = https://github.com/M1kep/Comfy_KepListStuff
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy
[submodule "custom_nodes/ComfyUI-Inference-Core-Nodes"]
	path = custom_nodes/ComfyUI-Inference-Core-Nodes
	url = https://github.com/LykosAI/ComfyUI-Inference-Core-Nodes
[submodule "custom_nodes/cg-quicknodes"]
	path = custom_nodes/cg-quicknodes
	url = https://github.com/chrisgoringe/cg-quicknodes
[submodule "custom_nodes/ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack
[submodule "custom_nodes/masquerade-nodes-comfyui"]
	path = custom_nodes/masquerade-nodes-comfyui
	url = https://github.com/BadCafeCode/masquerade-nodes-comfyui.git
[submodule "custom_nodes/ComfyUI_tinyterraNodes"]
	path = custom_nodes/ComfyUI_tinyterraNodes
	url = https://github.com/tinyterra/ComfyUI_tinyterraNodes
[submodule "custom_nodes/ComfyUI_Ib_CustomNodes"]
	path = custom_nodes/ComfyUI_Ib_CustomNodes
	url = https://github.com/Chaoses-Ib/ComfyUI_Ib_CustomNodes
[submodule "custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale
[submodule "custom_nodes/comfyui-tooling-nodes"]
	path = custom_nodes/comfyui-tooling-nodes
	url = https://github.com/Acly/comfyui-tooling-nodes
[submodule "custom_nodes/comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes
