--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
addict
aiohttp
blend_modes
click
colorama
comfy-script[default]
deepdiff
einops
facexlib
ftfy
insightface
kornia>=0.7.1
numba
onnxruntime
onnxruntime-gpu 
Pillow
psutil
pynvml
pyyaml
safetensors>=0.3.0
scipy
simpleeval
timm
torch
torchaudio
torchsde
torchvision
tqdm

#non essential dependencies:
kornia>=0.7.1
spandrel
transformers>=4.25.1
wheel
xformers
yapf